<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies | KinoKlick</title>
    <meta name="referrer" content="origin" />
    <meta name="description" content="Explore a vast collection of movies on KinoKlick. Find the latest releases, timeless classics, and hidden gems all in one place." />
    <meta name="keywords" content="movies, streaming, TV shows, online cinema, new releases, KinoKlick" />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="KinoKlick" />
    <meta name="theme-color" content="#2C2C2C" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Movies | KinoKlick">
    <meta property="og:description" content="Explore a vast collection of movies on KinoKlick. Find the latest releases, timeless classics, and hidden gems all in one place.">
    <meta property="og:url" content="https://www.kinoklick.com/movies">
    <meta property="og:image" content="{{ url_for('static', filename='images/og-image.png') }}">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Movies | KinoKlick">
    <meta name="twitter:description" content="Explore a vast collection of movies on KinoKlick. Find the latest releases, timeless classics, and hidden gems all in one place.">
    <meta name="twitter:image" content="{{ url_for('static', filename='images/twitter-image.png') }}">

    <!-- Styles and Scripts -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="icon" href="{{ url_for('static', filename='images/logo-t.png') }}" sizes="48x48" type="image/png">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="{{ url_for('static', filename='search.js') }}"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8739011065764550" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/logo.webp') }}" alt="KinoKlick Logo">
            </a>
        </div>
        <nav id="desktop-nav">
            <ul>
                <li><a href="{{ url_for('index') }}"><i class="bi bi-house-door"></i> Home</a></li>
                <li><a href="{{ url_for('movies') }}"><i class="bi bi-film"></i> Movies</a></li>
                <li><a href="{{ url_for('tv_shows') }}"><i class="bi bi-tv"></i> TV Shows</a></li>
                <li><a href="{{ url_for('must_watch') }}"><i class="bi bi-star"></i> Must-Watch</a></li>
            </ul>
        </nav>
        <div class="header-right" id="header-right-desktop">
            <form action="{{ url_for('search') }}" method="GET" id="desktop-search">
                <div class="search-container">
                    <input type="text" name="query" class="search__input" placeholder="Search for movies, TV shows..." required autocomplete="off" id="search-input">
                    <button type="submit" class="search__button">
                        <ion-icon name="search"><i class="bi bi-search"></i></ion-icon>
                    </button>
                    <div class="search__suggestions" id="search-suggestions" style="display: none;">
                    </div>
                </div>
            </form>
        </div>

        <div class="mobile-nav">
            <div class="search-toggle" id="search-toggle">
                <i class="fa fa-search"></i>
            </div>
            <div class="menu-toggle" id="menu-toggle">
                &#9776;
            </div>

            <div class="nav-wrapper" id="nav-wrapper">
                <div class="menu-close" id="menu-close">
                    &times;
                </div>
                <nav>
                    <ul>
                        <li><a href="{{ url_for('index') }}"><i class="bi bi-house-door"></i> Home</a></li>
                        <li><a href="{{ url_for('movies') }}"><i class="bi bi-film"></i> Movies</a></li>
                        <li><a href="{{ url_for('tv_shows') }}"><i class="bi bi-tv"></i> TV Shows</a></li>
                        <li><a href="{{ url_for('must_watch') }}"><i class="bi bi-star"></i> Must-Watch</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="mobile-search-wrapper" id="mobile-search-wrapper" style="display: none;">
            <div class="mobile-search-close" id="mobile-search-close">&times;</div>
            <form action="{{ url_for('search') }}" method="GET" class="mobile-search-form">
                <div class="mobile-search-container">
                    <input type="text" name="query" placeholder="Search for movies, TV shows..." required autocomplete="off" id="mobile-search-input">
                    <button type="submit" class="mobile-search-button">
                        <ion-icon name="search"><i class="bi bi-search"></i></ion-icon>
                    </button>
                </div>
                <ul id="mobile-search-suggestions" style="display: none;"></ul>
            </form>
        </div>
    </header>
    <main>
        <section class="filters">
            <div class="filter-group">
                <label for="genre-select">Genre:</label>
                <select id="genre-select">
                    <option value="">Select Genre</option>
                    <option value="Adventure">Adventure</option>
                    <option value="Action">Action</option>
                    <option value="Animation">Animation</option>
                    <option value="Comedy">Comedy</option>
                    <option value="Crime">Crime</option>
                    <option value="Drama">Drama</option>
                    <option value="Documentary">Documentery</option>
                    <option value="Science Fiction">Science Fiction</option>
                    <option value="Family">Family</option>
                    <option value="Fantasy">Fantasy</option>
                    <option value="History">History</option>
                    <option value="Horror">Horror</option>
                    <option value="Mystery">Mystery</option>
                    <option value="Romance">Romance</option>
                    <option value="Thriller">Thriller</option>
                    <option value="Western">Western</option>
                </select>
            </div>
            <div class="filter-group">
                <label for="year-select">Year:</label>
                <select id="year-select">
                    <option value="">Select Year</option>
                    {% for year in range(2024, 1900, -1) %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter-group">
                <label for="rating-select">Rating:</label>
                <select id="rating-select">
                    <option value="">Select Rating</option>
                    <option value="9">9+</option>
                    <option value="8">8+</option>
                    <option value="7">7+</option>
                    <option value="6">6+</option>
                    <option value="5">5+</option>
                    <option value="4">4+</option>
                    <option value="3">3+</option>
                    <option value="2">2+</option>
                    <option value="1">1+</option>
                </select>
            </div>
            <button id="filter-button" onclick="filterMovies()">Filter</button>
            <h2>Movies</h2>
            <div id="movie-grid" class="movie-grid">
                {% for movie in movies %}
                <div class="movie-item">
                    <a href="{{ url_for('movie', movie_id=movie[0], title=movie[1].replace(' ', '-').lower()) }}">
                        <img src="{{ movie[7] }}" alt="{{ movie[1] }}">
                        <div class="watch-now-button">Watch Now<i class="bi bi-play"></i> </div>
                    </a>
                    <div class="rating-container">
                        <div class="rating">
                            <span class="rating-num"><i class="bi bi-star-fill" style="color: #f8ce0b; padding: 2px;"></i>{{ "%.1f"|format(movie[4]) }}/10 </span>
                        </div>
                    </div>
                    <h3>{{ movie[1] }}</h3>
                    <p>{{ movie[3] | formatDate }}</p>
                </div>
                {% endfor %}
            </div>
            <section class="pagination">
                <ul>
                    {% if page > 1 %}
                    <li><a href="{{ url_for('movies', page=page-1) }}" class="page-link">Previous</a></li>
                    {% endif %}
                    {% for p in range(start_page, end_page + 1) %}
                    <li><a href="{{ url_for('movies', page=p) }}" class="page-link {% if page == p %}active{% endif %}">{{ p }}</a></li>
                    {% endfor %}
                    {% if page < total_pages %}
                    <li><a href="{{ url_for('movies', page=page+1) }}" class="page-link">Next</a></li>
                    {% endif %}
                </ul>
            </section>
            
            <script>
                function getMaxPagesToShow() {
                    if (window.innerWidth <= 480) {
                        return 3; // Show 3 pages on very small screens
                    } else if (window.innerWidth <= 768) {
                        return 5; // Show 5 pages on small screens
                    } else {
                        return 7; // Show 7 pages on larger screens
                    }
                }
            
                // Update the URL with the max_pages_to_show parameter
                function updatePaginationLinks() {
                    const maxPagesToShow = getMaxPagesToShow();
                    const links = document.querySelectorAll('.page-link');
                    links.forEach(link => {
                        const url = new URL(link.href);
                        url.searchParams.set('max', maxPagesToShow);
                        link.href = url.toString();
                    });
                }
            
                // Update pagination links on page load and resize
                window.addEventListener('load', updatePaginationLinks);
                window.addEventListener('resize', updatePaginationLinks);
            </script>


    </main>
    <script>
        $(document).ready(function () {
            $('#filter-button').click(function () {
                var genre = $('#genre-select').val();
                var year = $('#year-select').val();
                var rating = $('#rating-select').val();

                $.ajax({
                    url: '/filter-movies',
                    method: 'GET',
                    data: { genre: genre, year: year, rating: rating },
                    success: function (response) {
                        var movies = response.movies;
                        var movieGrid = $('#movie-grid');
                        movieGrid.empty();
                        if (movies.length > 0) {
                            movies.forEach(function (movie) {
                            var movieItem = `
                            <div class="movie-item">
                                    <a href="/movie/${movie.id}-${movie.title.replace('-').toLowerCase()}">
                                    <img src="${movie.poster}" alt="${movie.title}">
                                    <div class="watch-now-button">Watch Now<i class="bi bi-play"></i> </div>
                                </a>
                                <div class="rating-container">
                                    <div class="rating">
                                        <span class="rating-num">
                                            <i class="bi bi-star-fill" style="color: #f8ce0b; padding: 2px;"></i>${movie.rating.toFixed(1)}/10
                                        </span>
                                    </div>
                                </div>
                                <h3>${movie.title}</h3>
                                <p>${movie.releaseDate}</p>
                            </div>`;
                            movieGrid.append(movieItem);
                        });

                        } else {
                            movieGrid.html('<p>No movies found matching the criteria.</p>');
                        }
                    }
                });
            });
        });
    </script>

    <footer>
        <p>&copy; 2024 KinoKlick. All rights reserved.</p>
    </footer>
</body>

</html>